@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Mr+Dafoe&display=swap');

:root {
    --blue: #56c7bf;
    --gray: #29282d;
    --orange: #f5b32a;
}

.blue { background: var(--blue);}
.gray { background: var(--gray);}
.orange { background: var(--orange);}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans";
}

.row {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.col-2 {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-3 {
    position: relative;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.col-4 {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-5 {
    position: relative;
    flex: 0 0 20%;
    max-width: 20%;
}

.col-6 {
    position: relative;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.section-p {
    padding: 90px;
}

.text-heading {
    text-align: center;
}
.text-heading h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 10px;
}
.text-heading p {
    font-size: 18px;
    color: rgb(133, 133, 133);
    padding: 10px 140px;
}

header {
    min-height: 100%;
}

nav {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    height: 110px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

nav ul li:hover a {
    color: var(--blue);
}

a { text-decoration: none; }
a:visited { color: #000 }

h1, h2, h3 {
    text-transform: uppercase;
}

.btn {
    padding: 20px 30px;
    color: #000;
    border: 2px solid #000;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}

.btn.btn-blue {
    background: var(--blue);
    color: #fff;
    border: none;
}

.center-logo {
    width: 110px;
}

.header-hero {
    background: url("../img/h1-rev-background-img-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 110px);
}

.header-hero img {
    width: 330px;
}

.prestations {
    display: flex;
    flex-direction: column;
}
.prestations .row {
    display: flex;
    flex-wrap: wrap;
}

.prestation-item {
    position: relative;
    display: flex;
    height: 320px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.prestation-text {
    width: 60%;
    margin: auto;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
}

.prestation-text h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 3px;
}

.prestation-item img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.prestation-item:hover img {
    transform: scale(1.1);
}

.prestation-item .badge {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0 10px 0;
    width: auto; 
    background: var(--blue);
    font-size: 20px;
    font-weight: 700;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video .row {
    display: flex;
    flex-wrap: wrap;
}

.video-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-img img {
    position: relative;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.114) 0px 30px 60px -15px;
}

.play-button {
    position: absolute;
    height: 90px;
    width: 90px;
    background: var(--blue);
    opacity: 0.7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}
.play-button ion-icon {
    font-size: 30px;
    color: #fff;
}
.play-button:hover {
    transform: scale(1.1);
}

.video-text {
    padding: 0 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.video-text h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 50px;  
}
.video-text h1 span {
    font-weight: 700;
    color: var(--blue);
}
.video-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(133, 133, 133);
}
.video-text .btn {
    display: inline-flex;
}

.event {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.events {
    display: flex;
    flex-direction: column;
}
.events .row {
    display: flex;
    flex-wrap: wrap;
}

.event .event-text {
    padding: 0 60px 0 60px;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.event .event-text h3 {
    font-size: 23px;
    letter-spacing: 5px;
    font-weight: 600;
}
.event .event-text p {
    font-weight: 300;
}
.event .event-text .location,.event .event-text .date {
    font-weight: 100;
}

.event img {
    width: 650px;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: .5s;
}

.event img:hover {
    transform: scale(1.05);
    filter: grayscale(1);
}

.abilities .row {
    margin-top: 30px;
    gap: 0px;
    flex-wrap: wrap;
}

.ability-item {
    text-align: center;
    padding: 0 30px;
}
.ability-item .item-text h4 {
    letter-spacing: 3px;
    padding: 10px 0;
}
.ability-item .item-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(133, 133, 133);
}

.ten-years .row {
    align-items: center;
}
.ten-years .row .col-2 {
    padding: 0 50px;
}
.ten-years-img {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ten-years-img img {
    width: 50%;
    height: 500px;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.205) 0px 30px 60px -15px;
}
.ten-years .row .item {
    padding: 0 50px 0 130px;
}
.ten-years .row .item h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 50px;  
}
.ten-years .row .item h2 span {
    font-weight: 700;
    color: var(--blue)
}
.ten-years .row .item p {
    padding: 20px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(133, 133, 133);
}
.ten-years .row .item .text-behind {
    position: absolute;
    z-index: -1;
    font-size: 260px;
    top: 30px;
    font-family: "Mr Dafoe";
    color:rgb(230, 230, 230)
}

.stretch {
    display: flex;
    align-items: stretch;
}

.stretch .row {
    flex: 1;
}

.gallery .row .col-2 {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.gallery {
    padding: 150px 0;
}

.gallery .row .col-2 img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    padding: 10px;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 100px 0;
}

.team .row {
    padding: 0 50px;
    gap: 0px;
    flex-wrap: wrap;
}

.team-item-img {
    position: relative;
    overflow: hidden;
    /* flex: 1; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}
.team-item-img img {
    width: 100%;
    padding: 15px;
    display: block;
}

.team-item-info {
    position: absolute;
    color: #fff;
    height: 200px;
    width: 300px;
    right: 0;
    top: 50%;
    padding: 10px 30px;
    background: var(--blue);
    transform: translate(100%, -50%);
    opacity: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.team-item-info h4 {
    font-size: 30px;
}
.team-item-info .social {
    margin-top: 10px;
}

.team-item:hover .team-item-info {
    transform: translate(0%, -50%);
    opacity: 0.95;
}

.pl-0 img {
    padding-left: 0;
}

.pr-0 img {
    padding-right: 0;
}


footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0c0c;
    color: #fff;
}

@media (max-width: 1140px) {

    .section-p {
        padding: 20px;
    }

    nav {
        display: none;
    }

    .video .row {
        flex-direction: column;
    }

    .video-img img {
        width: 100%;
    }

    .video-text h1 {
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }

    .row .col-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .video-text {
        text-align: center;
        align-items: center;
        padding: 10px 50px;
    }

    .row .col-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .ten-years .row {
        flex-direction: column;
    }

    .ten-years .row .item {
        text-align: center;
        margin-top: 120px;
        margin-bottom: 80px;
        padding: 0 80px;
    }

    .ten-years-img {
        justify-content: center;
    }

    .gallery .row {
        flex-direction: column;
    }

}

@media (max-width: 700px) {

    .header-hero img {
        width: 80%;
        margin: auto;
        padding: 0;
    }

    .row .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        height: 400px;
    }

    .team .row .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
    }

    .video-text {
        display: none;
    }
}







